.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    margin-bottom: 40px;
    height: 440px;
}

.main::before{
  background: url('./control.jpg') no-repeat center center/cover;
  content: "";
  position: fixed;
  top: 0;
  width: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}

.tagline {
    width: 100%;
    color: #ff2ec0dc;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Big Shoulders Stencil Display', cursive;
}

.main h3 {
    font-size: 50px;
}

@media screen and (max-width: 860px) {
    .main h3{
        font-size: 25px;
    }
  }

  @media screen and (max-width: 380px) {
    .main h3{
        font-size: 15px;
    }
  }

.sub-tagline {
  color: rgba(0, 204, 255, 0.568);
  font-style: none;
  font-size: 2rem;
  font-weight: 400;
  padding: 0 25px 25px 25px;
}

@media screen and (max-width: 860px) {
  .sub-tagline {
      font-size: 1rem;
  }
}

@media screen and (max-width: 380px) {
  .sub-tagline {
      font-size: 1 rem;
  }
}

  .main .btn {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-btn {
    width: 150px;
    height: 48px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    border: none;
    transform: rotate(-30deg) skewX(25deg) translate(0,0);
    background: #ff2ec0;
    color: #fff;
    transition: all 0.5s;
    position: relative;
  }

  @media screen and (max-width: 475px) {
    .login-btn {
      height: 40px;
    }
  }

  @media screen and (max-width: 280px) {
    .login-btn {
      height: 25px;
      width: 100px;
    }
  }

  .login-btn::before {
    content: '';
    position: absolute;
    top: 5px;
    left: -10px;
    width: 10px;
    height: 100%;
    background: #7c145d;
    transform: rotate(0deg) skewY(-45deg);
  }

  .login-btn::after {
    content: '';
    position: absolute;
    top: 47px;
    left: -4px;
    width: 150px;
    height: 11px;
    background: #961970;
    transform: rotate(0deg) skewX(-45deg);
  }

  @media screen and (max-width: 475px) {
    .login-btn::after {
      top: 40px;
      left: -4px;
    }
  }

  @media screen and (max-width: 280px) {
    .login-btn::after {
      top: 25px;
      left: -5px;
      width: 100px;;
    }
  }

  .login-btn:hover {
    transform: rotate(-30deg) skewX(25deg) translate(20px, -20px);
  }